:root {
    --container-style: rgba(255, 255, 255, 0.07);
    --container-shadow:
        1px 1px 2px 0px rgba(0, 0, 0, 0.1), 2px 3px 4px 0px rgba(0, 0, 0, 0.09), 6px 7px 5px 0px rgba(0,
            0,
            0,
            0.05), 10px 13px 6px 0px rgba(0, 0, 0, 0.01), 16px 20px 7px 0px rgba(0, 0, 0, 0);
    --colors-labels-vibrant-controls-tertiary: rgba(217, 217, 217, 1);
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-colors-mode="light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-colors-mode="light"] {
    --colors-labels-vibrant-controls-tertiary: rgba(217, 217, 217, 1);
}

[data-colors-mode="dark"] {
    --colors-labels-vibrant-controls-tertiary: rgba(38, 38, 38, 1);
}

[data-colors-mode="IC-light"] {
    --colors-labels-vibrant-controls-tertiary: rgba(217, 217, 217, 1);
}

[data-colors-mode="IC-dark"] {
    --colors-labels-vibrant-controls-tertiary: rgba(38, 38, 38, 1);
}